body {
  background-image:url(Mooihoor.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  color: #660000;
  text-align: center;
}

#JKRgroen {
  color: White;
  text-align: left;
}

a {
  color: white;
  text-align: center;
}

#JKRbody {
  background-image:url(....jpg);
  background-repeat: no-repeat;
  background-size: 100;
  background-image: rgba(255, 255, 255, .5);
}

#Personages {
  background-image:url("ZwarteHPachtergrond.jpg");
  background-repeat: repeat;
  background-size: 100;
}

#TKP {
  color: white;
  text-align: center;
}

#zwart {
  color: white;
  padding: 15px;
  text-align: center;
}

#Trailer {
  background-image:url("....jpg");
  background-repeat: no-repeat;
  background-size: 100;
  text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 4px black;
    text-align: center;
    padding: 5px;
}

#begin {
  color: white;
  text-align: center;
}

table {
    border: 2px solid white;
    color: white;
}

td {
    border: 2px solid white;
    color: white;
}

.titel {
    background-color: #333333;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

a {
  text-decoration:none ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: pink;
}
